@media (max-width: 1201px) {
    .side-pad {
      padding: 0 10%;
    }
}

@media screen and (max-width: 768px) {

    // Global 
    .side-pad {
        padding: 0 5%;
    }
    .pin {
        width: 3rem;
        height: 3rem;
        margin: 0.5rem;
    }
    .section-heading {
     
        i {
            font-size: 1rem;
        }
        
    }

    // Home
    #home {
        text-align: center;
        min-height: 80vh;

        p {
            text-align: center;
            
        }

    }

    // Services 
    #services {
        .overview {
            padding: 0;
        }
        img {
            margin-top: 0.9rem;
            width: 1.2rem;
        }
    }

    // Showreel
    #showreel {
        .reel {
            width: 90vw;
            height: calc(9/16 * 90vw);
        }
    }

    // Productions 
    #productions {
        img {
            width: 100px;
            margin: 0.4rem;
        }
    }

    // Projects 
    #projects {
        .section-heading {
            padding-top: 1rem;
        }
        .card {
            margin: 1rem 0;
        }
    }

    // About
    #about {
        padding: 5%;
    }

    // Footer 
    #footer {
        text-align: center;

        .footer-content {
            padding: 2rem;
        }

        img {
            height: 70px;
            margin-bottom: 2rem;
        }
        .f-right {
            text-align: center;
        }
    }
}